{% extends "base.html" %}

{% block assets %}
    {% assets "css-gallery" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}



{% block content %}
<div class="pad-content min-height-full">
    <h1 class="page-title">{{ page.title }}</h1>
    <noscript>
        <div class="warning-block">
            Enable javascript to use the fancy gallery viewer.<br>
            Instead, clicking an image will load the image in a new page.
        </div>
    </noscript>


    {{ page.content }}

    {% for album, images in page.gallery.iteritems() %}
    {% set var_prefix = album | replace('-', '_') %}

    <br>
    <h2>{{ album | replace('-', ' ') }}</h2>
    <div class='album'>
        <script type="text/javascript"> var {{var_prefix}}_items = []; </script>
        {% for image in images %}
        <div class='album-image'>
            <noscript> <a href="{{SITEURL}}/{{GALLERY_PATH}}/{{album}}/{{image}}"> </noscript>
            <img class="fig-img" style="cursor:pointer;"
              onclick="initGallery({{var_prefix}}_items, {{loop.index-1}})"
              src="{{ SITEURL }}/thumb/small/{{album}}/{{ image }}"></img>
            <noscript></a></noscript>
            <script type="text/javascript">
                {{var_prefix}}_items [{{loop.index-1}}] = { src: '{{SITEURL}}/{{GALLERY_PATH}}/{{album}}/{{image}}', doGetSlideDimensions: true, w: 300, h:200 }
            </script>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% include 'fragments/photoswipe.html' %}
</div>
{% endblock %}
